[advisories]
yanked = "deny"

[bans]
multiple-versions = "deny"
skip-tree = [
    { name = "bolero" }, # bolero is always going to be just a test dependency
]

[sources]
unknown-registry = "deny"
unknown-git = "deny"

[licenses]
confidence-threshold = 0.90
allow = ["Apache-2.0", "BSD-3-Clause", "MIT", "Unicode-3.0", "Zlib"]
